DB_NAME=
DB_PORT=
GQL_PORT=

MANAGER_API_KEY=
ANKR_API_KEY=
BLAST_API_KEY=
RPC_ETHEREUM_HTTP=
RPC_ETHEREUM_SEPOLIA_HTTP=
RPC_BSC_HTTP=

OPTIMISM_API_KEY=
ZKEVM_API_KEY=
ZKEVM_API_KEY_QUERY=
POLYGON_API_KEY=
ETHEREUM_API_KEY=

CMC_API_KEY=
CMC_API_KEY_2=
CMC_API_KEY_3=

CREDORA_ID=
CREDORA_SECRET=
CREDORA_URL=
BASE_API_KEY=
QUERY_PUBLIC_ACCESS=true

ALCHEMY_FALLBACK_NETWORKS=
BLAST_FALLBACK_NETWORKS=
SQUID_FALLBACK_NETWORKS=
INCLUDE_ALL_BLOCKS=
